@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@600;700;800&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
}

@layer base {
  body {
    min-width: 320px;
    margin: 0;
    font-family: var(--font-sans);
    font-synthesis: none;
  }
}
